// Place all the styles related to the static-pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1,h2,h3, h4, h5, h6{
	text-align: center;
}

.first{
	background-image: url("website.png");
}

div.description{
	min-height:auto;
	text-align: justify;
  	background-size: cover;
  	position: relative;
   	border-radius: 12px;
  	padding-top: 5px;
  	padding-left: 10px;
  	padding-right: 10px;
  	padding-bottom:10px;
}

small {
  opacity: 0;
}
.show-description{
	background-color: #1abc9c;
}
.show-description p {
	
}

.show-description small {
  opacity: 1;
}