	<header class="container-fluid">
		<h1>Welcome to my Blog</h1>
		<%= image_tag("emejia.png", :alt => "Profile picture", class: "myimg")%>
		<h2>Hi, my name is Elvyn Mejia.</br>
			I am a full stack Ruby on Rails engineer.</br>
			I love writing clean, elegant, maintainable and clean code.</br>
			Also, I love <strong>pugs</strong>.
		</h2>
	</header>